<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="Emgu.CV" version="4.2.0.3662" targetFramework="net472" />
  <package id="EPPlus" version="5.1.0" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net472" />
  <package id="Splat" version="1.6.2" targetFramework="net472" />
</packages>